.App {
  text-align: center;
  background:red;
  height: 100%;
  background-attachment: fixed;
  background-repeat: repeat;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
